<div class="inside-modal">
  <img src= {{house.image}} alt= {{house.address}}>
  {{sold-out house=house}}
  <div class="content">
    <div class="row">
      <div class="col-xs-8">
        <h2>{{house.address}}</h2>
        <h3><strong>{{bed-display house.beds}} &#9679; {{bath-display house.baths}} &#9679; {{house.sqft}} sqft</strong></h3>
        <h4>{{house.description}}</h4>
      </div>
      <div class="col-xs-3 col-xs-offset-1">
        <h3 class="on-sale"><strong>ON SALE</strong></h3>
        <h3 class="price">${{format-money house.price}}</h3>
        <h3 class="on-sale"><strong>Mortgage</strong></h3>
        {{mortgage-payment house=house}}
        {{#if alreadySold}}
        <h3 style="color:red">This house has already sold.</h3>
        {{else}}
        <button {{action "showForm"}} class="btn btn-danger">Buy House!</button>
        {{/if}}
      </div>
    </div>
    {{#if showForm}}
      {{buy-form house=house buyHouse="buyHouse" rejectBuyer="rejectBuyer"}}
    {{/if}}
    {{#if showRejection}}
      <h2>We're sorry, but your down payment and salary do not qualify you to buy this house.</h2>
    {{/if}}
    {{google-map house=house}}
  </div>
</div>
